<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIEW ENGINE</title>
</head>
<body>

    <h1>{{title}}</h1>
    <h1>HELLO BANYAL..</h1>
    <h2>you are using a view engine...</h2>
    <h3>you are using handlebars... view engine.</h3>
    
    {{> footer}}
</body>
</html>