<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About || page</title>
</head>
<body>

    <h1>{{title}}</h1>

    <h1>THIS IS THE HOME page</h1>

    <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus perspiciatis deserunt consequuntur laborum inventore sed facilis sint ex, rem exercitationem tenetur nostrum natus! Placeat fuga neque nobis architecto? Quasi iure consequuntur praesentium. Sequi alias iure laboriosam minus minima, qui eligendi numquam sint veritatis aliquid eos voluptatum ullam delectus. Aliquam, quo.</h4>
    
    {{> footer}}
</body>
</html>